:host {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  width: 80vw;
  border-radius: 1rem;
  box-shadow: 0 5px 10px 1px #263b00;
  background-color: #a2fa00;
  color: var(--font_color);
  font-family: var(--font_special), sans-serif;
}
.alternativa_marcada{
  background-color: #507A00;
  color: white;
  border-radius: 1rem;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.99);
  transform: scale(1.2,1);
}
.alternativas{
  transition: all ease-in-out 0.2s;
}
img{
  animation: vibrar 0.1s infinite;
}
@keyframes vibrar{
  0%  { -webkit-transform:rotateZ(-5deg); }
  50% { -webkit-transform:rotateZ( 0deg); }
  100%{ -webkit-transform:rotateZ( 5deg); }
}
@keyframes inflar{
  0%  { -webkit-transform:scale(1.4, 1.4); }
  50% { -webkit-transform:scale(1, 1); }
  100%{ -webkit-transform:scale(1.4, 1.4); }
}
@media screen and (max-width:780px) {
  img{
    height: 30vh;
  }
}
@media screen and (max-width:550px){
  img{
    display: none;
  }
  section{
    flex-basis: 100%;
    height: auto;
    p{
      animation: inflar 1s infinite;
    }
  }

}
