:host{
  display: grid;
  grid-template: 1fr 8fr 1fr/ 2fr 1fr;
  height: 80vh;
  width: 80vw;
  border-radius: 1rem;
  box-shadow: 0 5px 10px 1px #b269ffcb;
  background-color: #FFFE82;
  font-family: var(--font_special), sans-serif;
  color:var(--font_color);
}
form{
  display: grid;
  grid-template:repeat(3, min-content)/1fr 3fr ;
  gap: 1rem;
  font-family: 'Roboto', sans-serif;
  .btn{
      justify-self: center;
      grid-column: span 2;
  }
}
