<header class="flex items-center justify-center font-bold relative">
  <button class="absolute left-2 top-1 text-white bg-gradient-to-br from-green-800 to-green-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-lg px-5 py-2 text-center mr-2 mb-2" (click)="back()">Back</button>
  <button (click)="mostrar()">mostrar</button>
  <h2 class="text-4xl text-center">TRIVIA EN INGLÉS</h2>
</header>
<!-- form login----------------------------------------------------------------->
<div class="border-r-2">
  <h2 class="text-center  text-4xl font-bold my-5">Iniciar Sesión</h2>
  <form class="p-4 rounded-lg" [formGroup]="form">
    <!-- username -->
    <div><label for="name">Correo: </label></div>
    <div class="relative">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="usuario@gmail.com"
        class="bg-gray-50 border transition duration-250 ease-in-out text-gray-900 text-sm rounded-lg focus:ring-4 focus:ring-opacity-50 focus:outline-none block w-full p-2.5 pr-7"
        [ngClass]="
          form.get('email')?.untouched || form.get('email')?.valid
            ? 'focus:ring-green-300 border-slate-300'
            : 'focus:ring-rose-300 border-red-300'
        "
        formControlName="email"
      />
      <!-- icons input check and false -->
      <div class="absolute top-2.5 right-1" *ngIf="form.get('email')?.touched">
        <img
          src="assets/check-icon.svg"
          *ngIf="form.get('email')?.valid"
          alt="check-icon"
        />
        <img
          src="assets/fail-icon.svg"
          *ngIf="form.get('email')?.invalid"
          alt="fail-icon"
        />
      </div>

      <!-- alerts for Validators-->
      <div
        class="error-alert"
        *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
      >
        <div
          class="flex p-1 text-sm text-red-800 rounded-lg"
          *ngIf="form.get('email')"
        >
          <img class="pr-3" src="assets/info-icon.svg" alt="info-icon" />
          <p *ngIf="form.get('email')?.hasError('required')">
            Este campo es <span class="font-bold">requerido</span>.
          </p>
          <p *ngIf="form.get('email')?.hasError('minlength')">
            Mínimo <span class="font-bold">10 carácteres</span>.
          </p>
          <p *ngIf="form.get('email')?.hasError('maxlength')">
            Máximo <span class="font-bold">50 carácteres</span>.
          </p>
          <p *ngIf="form.get('email')?.hasError('pattern')">
            Campo <span class="font-bold">inválido</span>.
          </p>
        </div>
      </div>
    </div>
    <!-- contraseña -->
    <div><label for="password1">Contraseña: </label></div>
    <div class="relative">
      <input
        type="password"
        name="password1"
        id="password1"
        placeholder="Minimo 6 carácteres"
        class="bg-gray-50 border transition duration-250 ease-in-out text-gray-900 text-sm rounded-lg focus:ring-4 focus:ring-opacity-50 focus:outline-none block w-full p-2.5 pr-7"
        [ngClass]="
          form.get('password')?.untouched || form.get('password')?.valid
            ? 'focus:ring-green-300 border-slate-300'
            : 'focus:ring-rose-300 border-red-300'
        "
        formControlName="password"
      />
      <!-- icons input check and false -->
      <div class="absolute top-2.5 right-1" *ngIf="form.get('password')?.touched">
        <img
          src="assets/check-icon.svg"
          *ngIf="form.get('password')?.valid"
          alt="check-icon"
        />
        <img
          src="assets/fail-icon.svg"
          *ngIf="form.get('password')?.invalid"
          alt="fail-icon"
        />
      </div>

      <!-- alerts for Validators-->
      <div
        class="error-alert"
        *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
      >
        <div
          class="flex p-1 text-sm text-red-800 rounded-lg"
          *ngIf="form.get('password')"
        >
          <img class="pr-3" src="assets/info-icon.svg" alt="info-icon" />
          <p *ngIf="form.get('password')?.hasError('required')">
            Este campo es <span class="font-bold">requerido</span>.
          </p>
          <p *ngIf="form.get('password')?.hasError('minlength')">
            Mínimo <span class="font-bold">4 carácteres</span>.
          </p>
          <p *ngIf="form.get('password')?.hasError('maxlength')">
            Máximo <span class="font-bold">8 carácteres</span>.
          </p>
        </div>
      </div>
    </div>
    <!-- boton -->
    <div class="btn">
      <button
        [disabled]="form.invalid"
        class="text-white bg-gradient-to-br from-green-800 to-green-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-lg px-5 py-2 text-center mr-2 mb-2 disabled:from-green-400 disabled:to-green-200"
        (click)="logearse()"
      >
        Enviar
      </button>
    </div>
  </form>
</div>

<!-- form register-------------------------------------------------------------->
<div class="">
  <h2 class="text-center  text-4xl font-bold my-5">Registrarse</h2>
  <form class="p-4 rounded-lg" [formGroup]="formRegister">
    <!-- username -->
    <div><label for="name">Nombre: </label></div>
    <div class="relative">
      <input
        type="text"
        name="name"
        id="name"
        placeholder="nombre de usuario"
        class="bg-gray-50 border transition duration-250 ease-in-out text-gray-900 text-sm rounded-lg focus:ring-4 focus:ring-opacity-50 focus:outline-none block w-full p-2.5 pr-7"
        [ngClass]="
          formRegister.get('name')?.untouched || formRegister.get('name')?.valid
            ? 'focus:ring-green-300 border-slate-300'
            : 'focus:ring-rose-300 border-red-300'
        "
        formControlName="name"
      />
      <!-- icons input check and false -->
      <div class="absolute top-2.5 right-1" *ngIf="formRegister.get('name')?.touched">
        <img
          src="assets/check-icon.svg"
          *ngIf="formRegister.get('name')?.valid"
          alt="check-icon"
        />
        <img
          src="assets/fail-icon.svg"
          *ngIf="formRegister.get('name')?.invalid"
          alt="fail-icon"
        />
      </div>

      <!-- alerts for Validators-->
      <div
        class="error-alert"
        *ngIf="formRegister.get('name')?.touched && formRegister.get('name')?.invalid"
      >
        <div
          class="flex p-1 text-sm text-red-800 rounded-lg"
          *ngIf="formRegister.get('name')"
        >
          <img class="pr-3" src="assets/info-icon.svg" alt="info-icon" />
          <p *ngIf="formRegister.get('name')?.hasError('required')">
            Este campo es <span class="font-bold">requerido</span>.
          </p>
          <p *ngIf="formRegister.get('name')?.hasError('minlength')">
            Mínimo <span class="font-bold">3 carácteres</span>.
          </p>
          <p *ngIf="formRegister.get('name')?.hasError('maxlength')">
            Máximo <span class="font-bold">8 carácteres</span>.
          </p>
          <p *ngIf="formRegister.get('name')?.hasError('pattern')">
            Campo <span class="font-bold">inválido</span>.
          </p>
        </div>
      </div>
    </div>
    <!-- correo-------------------------------------------------------------------- -->
    <div><label for="email2">Correo: </label></div>
    <div class="relative">
      <input
        type="email"
        name="email2"
        id="email2"
        placeholder="usuario@gmail.com"
        class="bg-gray-50 border transition duration-250 ease-in-out text-gray-900 text-sm rounded-lg focus:ring-4 focus:ring-opacity-50 focus:outline-none block w-full p-2.5 pr-7"
        [ngClass]="
          formRegister.get('email')?.untouched || formRegister.get('email')?.valid
            ? 'focus:ring-green-300 border-slate-300'
            : 'focus:ring-rose-300 border-red-300'
        "
        formControlName="email"
      />
      <!-- icons input check and false -->
      <div class="absolute top-2.5 right-1" *ngIf="formRegister.get('email')?.touched">
        <img
          src="assets/check-icon.svg"
          *ngIf="formRegister.get('email')?.valid"
          alt="check-icon"
        />
        <img
          src="assets/fail-icon.svg"
          *ngIf="formRegister.get('email')?.invalid"
          alt="fail-icon"
        />
      </div>

      <!-- alerts for Validators-->
      <div
        class="error-alert"
        *ngIf="formRegister.get('email')?.touched && formRegister.get('email')?.invalid"
      >
        <div
          class="flex p-1 text-sm text-red-800 rounded-lg"
          *ngIf="formRegister.get('email')"
        >
          <img class="pr-3" src="assets/info-icon.svg" alt="info-icon" />
          <p *ngIf="formRegister.get('email')?.hasError('required')">
            Este campo es <span class="font-bold">requerido</span>.
          </p>
          <p *ngIf="formRegister.get('email')?.hasError('minlength')">
            Mínimo <span class="font-bold">10 carácteres</span>.
          </p>
          <p *ngIf="formRegister.get('email')?.hasError('maxlength')">
            Máximo <span class="font-bold">50 carácteres</span>.
          </p>
          <p *ngIf="formRegister.get('email')?.hasError('pattern')">
            Campo <span class="font-bold">inválido</span>.
          </p>
        </div>
      </div>
    </div>
    <!-- contraseña -->
    <div><label for="pass">Contraseña: </label></div>
    <div class="relative">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Min 6 carácteres"
        class="bg-gray-50 border transition duration-250 ease-in-out text-gray-900 text-sm rounded-lg focus:ring-4 focus:ring-opacity-50 focus:outline-none block w-full p-2.5 pr-7"
        [ngClass]="
          formRegister.get('password')?.untouched || formRegister.get('password')?.valid
            ? 'focus:ring-green-300 border-slate-300'
            : 'focus:ring-rose-300 border-red-300'
        "
        formControlName="password"
      />
      <!-- icons input check and false -->
      <div class="absolute top-2.5 right-1" *ngIf="formRegister.get('password')?.touched">
        <img
          src="assets/check-icon.svg"
          *ngIf="formRegister.get('password')?.valid"
          alt="check-icon"
        />
        <img
          src="assets/fail-icon.svg"
          *ngIf="formRegister.get('password')?.invalid"
          alt="fail-icon"
        />
      </div>

      <!-- alerts for Validators-->
      <div
        class="error-alert"
        *ngIf="formRegister.get('password')?.touched && formRegister.get('password')?.invalid"
      >
        <div
          class="flex p-1 text-sm text-red-800 rounded-lg"
          *ngIf="formRegister.get('password')"
        >
          <img class="pr-3" src="assets/info-icon.svg" alt="info-icon" />
          <p *ngIf="formRegister.get('password')?.hasError('required')">
            Este campo es <span class="font-bold">requerido</span>.
          </p>
          <p *ngIf="formRegister.get('password')?.hasError('minlength')">
            Mínimo <span class="font-bold">4 carácteres</span>.
          </p>
          <p *ngIf="formRegister.get('password')?.hasError('maxlength')">
            Máximo <span class="font-bold">8 carácteres</span>.
          </p>
        </div>
      </div>
    </div>
    <!-- boton -->
    <div class="btn">
      <button
        [disabled]="formRegister.invalid"
        class="text-white bg-gradient-to-br from-green-800 to-green-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-lg px-5 py-2 text-center mr-2 mb-2 disabled:from-green-400 disabled:to-green-200 "
        (click)="registrar()"
      >
        Registrar
      </button>
    </div>
  </form>
</div>
<!-- alerta de acciones------------------------------------------------------------ -->
<footer
  *ngIf="alert"
  class="flex p-4 text-sm text-green-800 rounded-lg bg-green-50"
  role="alert"
>
  <span class="font-medium">{{ mensaje }}</span>
</footer>
