:host{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  // background: linear-gradient(to bottom, #FFFF69, #9CFFF4);
  background: linear-gradient(to bottom, #92E000, #507A00);
}
