:host {
  display: grid;
  grid-template: 1fr 8fr 1fr/ 2fr 1fr;
  min-height: 80vh;
  width: 80vw;
  border-radius: 1rem;
  // box-shadow: 0 5px 10px 1px #b269ffcb;
  box-shadow: 0 5px 10px 1px #263b00;
  // background-color: #FFFE82;
  background-color: #a2fa00;
  color: var(--font_color);
  font-family: var(--font_special), sans-serif;
}
nav {
  grid-column: span 2;
}
footer {
  grid-column: span 2;
}
.reflect {
  transform: rotate3d(0, 1, 0, 180deg);
}

.user {
  background-color: #263b00;
  color: #a2fa00;

  &_options {
    color: #a2fa00;
    background-color: #263b00;
    transition: all ease-in-out 0.5s;
    z-index: 2;
  }
}
.desplegar {
  height: 20vh;
}

@media screen and (max-height: 695px) {
  :host {
    height: 90vh;
  }
}
@media screen and (max-width:1200px){
  .portada-icon{
    width: 50%;
  }
}
@media screen and (max-width:1060px){
  aside>div{
    font-size: 0.875rem;
  }
}
@media screen and (max-width:875px){
  aside span{
    display: none;
  }
}
@media screen and (max-width:650px){
  :host{
    grid-template: repeat(4, min-content)/1fr 1fr;
    min-height: 100vh;
  }
  main, aside{
    grid-column: span 2;
  }
  aside>div{
    margin-left: 1.25rem;
    overflow: hidden;
  }
}
@media screen and (max-width:350px) {
  nav{
    padding-right: 0.5rem;
  }
}
