:host {
  display: grid;
  grid-template: 1fr 8fr 1fr/ 2fr 1fr;
  min-height: 80vh;
  width: 80vw;
  border-radius: 1rem;
  // box-shadow: 0 5px 10px 1px #b269ffcb;
  box-shadow: 0 5px 10px 1px #263b00;
  // background-color: #FFFE82;
  background-color: #a2fa00;
  color: var(--font_color);
  font-family: var(--font_special), sans-serif;
}
main {
  grid-row: span 2;
  order: -1;
}
footer {
  grid-column: span 2;
}
.reflect {
  transform: rotate3d(0, 1, 0, 180deg);
}

.user {
  background-color: #263b00;
  color: #a2fa00;

  &_options {
    color: #a2fa00;
    background-color: #263b00;
    transition: all ease-in-out 0.5s;
    z-index: 2;
  }
}
.desplegar {
  height: 20vh;
}
/* media para chrome barra de descargas------------------------------------------ */
@media screen and (max-height: 695px) {
  :host {
    height: 90vh;
  }
}
/* medai para las imagenes de portada*/
@media screen and (max-width:1200px){
  .portada-icon{
    width: 50%;
  }
}
/* media font size ranking */
@media screen and (max-width:1060px){
  aside>div{
    font-size: 0.875rem;
  }
}
/* una imagen de portada e ocultar la imagen reflejo */
@media screen and (max-width:800px){
  .portada{
    justify-content: center !important;
    flex-grow: 1;
    img{
      height: auto;
      width: 70%;
    }
  }
  .reflect{
    display: none;
  }
}
/* reubicacion de del aside, nav, main */
@media screen and (max-width:650px){
  :host{
    grid-template: repeat(4, min-content)/1fr 1fr;
    min-height: 100vh;
  }
  nav{
    grid-column: span 2;
  }
  main {
    grid-row: span 1;
    order: 0;
    h1{
      font-size: 3rem;
    }
    .portada-icon{
      width: 50%;
    }
  }
  main, aside{
    grid-column: span 2;
  }
  aside{
    span{
      display: none;
    }
    div{
      margin-left: 1.25rem;
      overflow: hidden;
    }
  }
}
@media screen and (max-width:350px) {
  nav{
    padding-right: 0.5rem;
  }
}
